@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 254, 229, 242; /* #fee5f2 */
  --background-end-rgb: 211, 245, 245;    /* #258995 */
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@font-face {
  font-family: "Titilium";
  src: url('../../public/fonts/TitilliumWeb-Regular.ttf');
}
@font-face {
  font-family: "Tiltneon";
  src: url('../../public/fonts/Lato-Regular.ttf');
}
.swal2-popup {
  font-size: 1.3rem !important;
  font-family: "Titilium";
  color: #12323a;
  background-color: #d3f5f5;
  border-radius: 0.375rem;
  transition-duration: 300ms
}
