
  .scaleBottom{
    position: absolute;
    font-size: 1.50rem;
    justify-self: center;
    bottom: 1px;
    padding: 0.5rem;
    font-weight: 700;
    color: #fef1f8;
    font-family: 'Tiltneon';
    text-shadow: 4px 2px 15px #ffcbe8;
    justify-self: center;
    animation:scale-down-vertical-bottom 0.4s linear both
  }
  .scaleTop{
    position: absolute;
    font-size: 1.50rem;
    justify-self: center;
    bottom: 1px;
    padding: 0.5rem;
    font-weight: 700;
    color: #fef1f8;
    font-family: 'Tiltneon';
    text-shadow: 4px 2px 15px #ffcbe8;
    justify-self: center;
    animation: scale-top-vertical-up 0.3s linear both
  } 
  
  @keyframes scale-down-vertical-bottom{
    0%{
      opacity: 0;
      transform: translateY(-0.6rem);
    }
    100%{
      opacity: 1;
      transform: translateY(0rem);
    }
  }

  @keyframes scale-top-vertical-up{
    0%{
      opacity: 1;
      transform: translateY(0);
    }
    100%{
      opacity: 0;
      transform: translateY(-0.6rem);
    }
  }
  
  