.Title{
    font-family: Titilium;
    font-size: 2.20rem;
    font-weight: 700;
    animation: colorchange 20s infinite alternate;;

}

@keyframes colorchange {
    0% {
      
      color: #ff60f4;
    }
    
    10% {
      
      color: #d274dd;
    }
    
    20% {
      
      color: #eab1f8;
    }
    
    30% {
      
      color: #b4eced;
    }
    
    40% {
      
      color: #258995;
    }
    
    50% {
      
      color: rgb(10, 136, 209);
    }
    
    60% {
      
      color: #ffa1d3;
    }
    
    70% {
      
      color: #fa3a95;
    }
    80% {
   
      color: #a80c47;
    }
    
    90% {
   
      color: #ffda46;
    }
    
    100% {
      
      color: #984208;
    }
  }
  .scaleBottom{
    position: absolute;
    padding: 0.5rem;
    justify-self: center;
    animation:scale-down-vertical-bottom 0.4s linear both
  } 
  
  @keyframes scale-down-vertical-bottom{
    0%{opacity: 0;}
    100%{opacity: 1; }
  }